/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*global styles for text*/
body {
	font-family: Libre Baskerville, Helvetica, sans-serif;
	color: #45474F;
	line-height: 1.7;
}

p {
	margin-top: 6px;
}

h2, h3, h4, label {
	color: #45474F;
}

h1 {
	font-size: 54px;
	line-height: 1.2;
}

h2 {
	font-size: 25px;
	margin-bottom: 48px;
	text-transform: uppercase;
}

h1, h4, strong {
	font-weight: 600;
}

h3 {
	font-size: 18px;
	font-weight: 500;
}

/*collumns,conteners,sections*/
.col-one-third {
	width: 33.3333%;
	float: left;
}

.col-half {
	width: 50%;
	float: left;
}

.col-one-third, .col-half {
	width: 100%;
	float: none;
}

@media screen and (min-width: 960px) {
	.col-one-third {
		width: 33.3333%;
		float: left;
	}
	.col-half {
		width: 50%;
		float: left;
	}
}

section {
	clear: both;
	padding: 90px 0;
	overflow: auto;
}

.container {
	max-width: 1040px;
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

/*buttons*/
.button {
	display: inline-block;
	padding: 8px 20px;
	margin: 16px 0;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
}

.button-light {
	background-color: #CD991C;
	color: #ffffff;
	
}

.button-dark {
	background:  #CD991C;
	color: #FFFFFF;
}

/*header*/
.top {
	height: 60px;
	background: #CD991C;
}

.top a {
	color: #FFFFFF;
	text-decoration: none;
}

.logo {
	float: left;
	font-weight: 600;
	font-size: 22px;
	line-height: 60px;
}

.main-menu {
	float: right;
}

.main-menu li {
	float: left;
	line-height: 60px;
	padding: 0 10px;
}

/*banner*/
.banner {
	color: #FFFFFF;
	padding: 200px 0;
	background-image: url("img/banner.jpg");
	background-position: bottom;
}

.banner h1 {
	margin-bottom: 30px;
}

/*intro*/
.intro img {
	margin-bottom: 32px;
	width: 230px;
	height: 180px;
}

.intro h3 {
	color: #CD991C;
	margin-bottom: 10px;
}

/*promotions*/
.promo {
	background: #CD991C;
}

.promo h2 {
	color: #FFFFFF;
	margin-bottom: 10px;
}

.promo p {
	color: #EEEEEE;
}

section.promo div.container div.col-half img {
	width: 100px;
	height: 100px;
}

section.promo div.container div.col-half{
	text-align: center;
}

/*contact*/
.contact input {
	margin-bottom: 16px;
	border-radius: 2px;
	border: 1px solid #DDDDDD;
	padding: 8px;
	width: 80%;
}
section.contact{
	text-align: center;
}

.contact .col-half {
	margin-top: 16px;
}

/*footer*/
.site-footer {
	background: #000000;
	color: #FFFFFF;
	padding: 16px 0;
}